<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="../assets/react/logo/logo-transparent.png">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
{#        <header>#}
{#            {{ include('nav.html.twig') }}#}
{#        </header>#}

{#        <post-Navbar></post-Navbar>#}

        <div id="root"></div>
{#        {% block body %}{% endblock %}#}
    </body>
</html>
