<nav>
    <div class="flex flex-wrap items-center justify-between mx-auto p-8">
        <a href="accueil.html.twig">
            <img src="../../logo/logo-transparent.png" width="120" height="45.76" alt="logo-garage-V.Parrot"/>
        </a>

        <div class="menu hidden md:block md:w-auto" id="navbar">
            <ul class="flex p-4 md:p-0 md:flex-row md:space-x-8 mt-0">
                <li><a href="#accueil"
                       class="block py-2 pl-3 pr-4 text-red-600 sm:text-xl rounded md:p-0 hover:text-white">Accueil</a>
                </li>
                <li><a href={"#services"}>Services</a></li>
                <li><a href={"#sell"}>Ventes de véhicules d'occasion</a></li>
                <li><a href={"#team"}>ÉQUIPE & expertise</a></li>
                <li><a href={"#contact"}>Contact</a></li>
                <li><a href={"#rdv"}>Prendre rendez-vous</a></li>
            </ul>
            <button type="submit">Connexion</button>
            <button type="submit">Déconnection</button>
        </div>
    </div>
</nav>